<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>salam</p>
        <select name="" id="sel">

        </select>
    

    <input type="text" id="alge" placeholder="mus">
    <button onclick="change()">belkassem is bigger</button>
</body>


<script src="{{url_for('static', filename='index.js')}}"> </script>
</html>